@using static LicensePlateCrimeWebApp.Helpers.GlobalHelpers;
@using LicensePlateCrimeWebApp.Data;
@using Newtonsoft.Json;
@using LicensePlateCrimeWebApp.Interfaces;
@inject IVehicleRepository _vehicleRepository;
@inject IViolationRepository _violationRepository;
@inject IContactRepository _contactRepository;
@inject FirebaseAppProvider firebaseAppProvider;
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    var title = @localizer["Ana Sayfa"];
    ViewData["Title"] = title;
}

@{
    var vehicles = await _vehicleRepository.GetAllAsync();
    var violations = await _violationRepository.GetAllAsync();
    var contacts = await _contactRepository.GetAllAsync();
    // Iterate through all users. This will still retrieve users in batches,
    // buffering no more than 1000 users in memory at a time.
    var enumerator = firebaseAppProvider.FirebaseAdminAuth.ListUsersAsync(null).GetAsyncEnumerator();
    var userCount = 0;
    while (await enumerator.MoveNextAsync())
    {
        userCount++;
    }
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger" role="alert">
        <strong>@localizer["Hata"]</strong> @ViewBag.Message
    </div>
}


<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="w3ls_banner_info">
            <h2 style="color:white;">@localizer["PLAKA CEZA SİSTEMİ"]</h2><br />
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="col-md-6 banner_bottom_left">
            <h3>@localizer["Plaka Ceza Sistemi"]</h3><br />
            <p>
                @localizer["Plaka Ceza Sistemi Modülü ile Araçlarınızı ile ilgili bilgilere ulaşıp detayları görüntüleyebilir, Eğer ihlaleriniz mevcut ise ihlal bilgilerini görüntüleyip ilgili birimlere itirazlarda bulunabilirsiniz."]
            </p>
            <div class="wthree_more wthree_more1" style="width: 80%;">
                @if (Authenticated(Context)) { }
                else
                {
                    <a asp-area="" asp-controller="Login" asp-action="Index" class="button--wayra button--border-thick button--text-upper button--size-s">@localizer["ÜYE GİRİŞİ"]</a>
                    <br />
                    <a asp-area="" asp-controller="Signup" asp-action="Index" class="button--wayra button--border-thick button--text-upper button--size-s">@localizer["ÜYE OL"]</a>
                }
            </div>
        </div>

        <div class="col-md-6 banner_bottom_right">
            @if (Authenticated(Context))
            {
                var currentUserId = GetCurrentUserInfo(Context)?.Uid;
                if (currentUserId == null)
                {
                    return;
                }
                var userVehicles = await _vehicleRepository.GetAllFromUserIdAsync(currentUserId);
                var userViolations = await _violationRepository.GetAllFromUserIdAsync(currentUserId);

                <div class="wthree_banner_bottom_right_grids">
                    <div class="col-md-6 banner_bottom_right_grid">
                        <a asp-area="" asp-controller="Vehicle" asp-action="Index">
                            <div class="view view-tenth">
                                <div class="agile_text_box">
                                    <h3>@userVehicles.Count()</h3>
                                    <svg style="height:80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M135.2 117.4L109.1 192H402.9l-26.1-74.6C372.3 104.6 360.2 96 346.6 96H165.4c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32H346.6c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2V400v48c0 17.7-14.3 32-32 32H448c-17.7 0-32-14.3-32-32V400H96v48c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V400 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" /></svg>                                    <h3>@localizer["Araçlarım"]</h3>
                                    <p></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 banner_bottom_right_grid">
                        <a asp-area="" asp-controller="Violation" asp-action="Index">
                            <div class="view view-tenth">
                                <div class="agile_text_box">
                                    <h3>@userViolations.Count()</h3>
                                    <svg style="height:80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z" /></svg>                                    <h3>@localizer["İhlallerim"]</h3>
                                    <p></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
            else
            {
                <div class="wthree_banner_bottom_right_grids">
                    <div class="col-md-6 banner_bottom_right_grid">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <div class="view view-tenth">
                                <div class="agile_text_box">
                                    <svg style="height:80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" /></svg>                                    <h3>@localizer["Ana Sayfa"]</h3>
                                    <p></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 banner_bottom_right_grid">
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">
                            <div class="view view-tenth">
                                <div class="agile_text_box">
                                    <svg style="height:80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0z" /></svg>                                    <h3>@localizer["Gizlilik Sözleşmesi"]</h3>
                                    <p></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
            <div class="wthree_banner_bottom_right_grids">
                <div class="col-md-6 banner_bottom_right_grid">
                    <a asp-area="" asp-controller="About" asp-action="Index">
                        <div class="view view-tenth">
                            <div class="agile_text_box">
                                <svg style="height:80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg>                                    <h3>@localizer["Hakkımızda"]</h3>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 banner_bottom_right_grid">
                    <a asp-area="" asp-controller="Contact" asp-action="Index">
                        <div class="view view-tenth">
                            <div class="agile_text_box">
                                <svg style="height:80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" /></svg>                                <h3>@localizer["İletişim"]</h3>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>


    </div>
    <div class="clearfix"> </div>
</div>
</div>
<!-- banner-bottom -->
<!-- //about -->
<!-- about-counter -->
<div class="about-counter">
    <div class="container">
        <div class="col-md-3 about_counter_left">
            <i class="fas fa-users" aria-hidden="true"></i>
            <p class="counter">@userCount</p>
            <h3>@localizer["Üye"]</h3>
        </div>
        <div class="col-md-3 about_counter_left">
            <i class="fas fa-car-side" aria-hidden="true"></i>
            <p class="counter">@vehicles.Count()</p>
            <h3>@localizer["Araç"]</h3>
        </div>
        <div class="col-md-3 about_counter_left">
            <i class="fas fa-balance-scale-right" aria-hidden="true"></i>
            <p class="counter">@violations.Count()</p>
            <h3>@localizer["İhlal"]</h3>
        </div>
        <div class="col-md-3 about_counter_left">
            <i class="far fa-file-alt" aria-hidden="true"></i>
            <p class="counter">@contacts.Count()</p>
            <h3>@localizer["İletişim"]</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //about-counter -->
<!-- about-bottom -->
<div class="about-bottom">
    <div class="container">
        <div class="w3l_about_bottom_grids">
            <div class="col-md-6 w3l_about_bottom_grid_left">
                <h3>@localizer["Plaka Ceza Sistemi"]</h3>
                <p>
                    @localizer["Araç trafiğini izlemede geleneksel yöntemlerle karşılaştırıldığında Plaka Ceza Sistemi yöntemi daha kararlı ve düşük maliyetlidir. Ayrıca mevcut kamera izleme altyapısı üzerinde kurulum yada yeni bir altyapı gerektirmeden plaka tespiti kolaylıkla yapılabilmektedir. Otoyol ve karayollarında belirli sıklıkta bulunan kameralar kullanılarak plaka tespiti yapılabilir. Plakası tespit edilen araçların ceza, vergi borcu, geçmiş muayene zamanı gibi cezalı durumları varsa kolaylıkla tespit edilip gerekli adli, idari işlemlerin yapılmasını kolaylaştıracaktır. Güvenlik güçlerinin iş yükü en aza indirilerek yollardaki güven ve konfor artırılabilecektir."]<br />
                    @localizer["Sistemimiz, Avrupa ve Türkiye başta olmak üzere bir çok ülke de bulunan araçlar için plaka tespiti altyapısını sağlamaktadır. Bu ülkeler de otoyol, karayolu ve bölünmüş yollar gibi yerlerde kurulmuş olan kamera altyapısının yüksekliği ve açısıgibi etmenleriyle uyumludur."]
                </p>
            </div>
            <div class="col-md-6 w3l_about_bottom_grid_right">
                <br />
                <div class='bar_group'>
                    <div class='bar_group__bar thin elastic' label='@localizer["Sistem Kararlılığı Oranı"] : %90' value='262'></div>
                    <div class='bar_group__bar thin elastic' label='@localizer["Plaka Tespİt Algorİtması Doğruluğu"] : %86' value='250'></div>
                    <div class='bar_group__bar thin elastic' label='@localizer["Malİyettekİ Artış Oranı"] : %15' value='44'></div>
                    <div class='bar_group__bar thin elastic' label='@localizer["Sİstem Bakımı Artış Oranı"] : %45' value='130'></div>
                    <div class='bar_group__bar thin elastic' label='@localizer["Yollardakİ GÜven ve Konfordakİ Artış Oranı"] : %35' value='102'></div>
                </div>
                <script src="js/bars.js"></script>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about-bottom -->