@using static LicensePlateCrimeWebApp.Helpers.GlobalHelpers;
@using Microsoft.AspNetCore.Mvc.Localization
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @localizer["Plaka Ceza Sistemi"]</title>
    <!-- yeni bootstrap -->
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flexslider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LicensePlateCrimeWebApp.styles.css" asp-append-version="true" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- jquery -->
    <script src="~/js/jquery-2.1.4.min.js" asp-append-version="true"></script>
    <!-- ???? -->
    <script>
        $(document).ready(function () {
            size_li = $("#myList li").size();
            x = 1;
            $('#myList li:lt(' + x + ')').show();
            $('#loadMore').click(function () {
                x = (x + 1 <= size_li) ? x + 1 : size_li;
                $('#myList li:lt(' + x + ')').show();
            });
            $('#showLess').click(function () {
                x = (x - 1 < 0) ? 1 : x - 1;
                $('#myList li').not(':lt(' + x + ')').hide();
            });
        });
    </script>



</head>
<body>
    @*    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LicensePlateCrimeWebApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacyy</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header>*@
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3l_header_left">
                <ul>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+ (264) 054 1 054</li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:licensecrime@gmail.com">licensecrime@gmail.com</a></li>                    
                </ul>
            </div>
            @* if user is logged in *@
            @if (Authenticated(Context))
            {
                    <div class="w3l_header_right">
                        <ul>
                            <li>
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;
                                   
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <li>
                                        <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="dropdown-item">
                                            <img src="~/images/tr.png" alt=" " class="img-responsive" style="width:25px;height:25px;" />
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                            <img src="~/images/en.png" alt=" " class="img-responsive" style="width:25px;height:25px;" />
                                        </a>
                                    </li>
                                    
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    @(GetCurrentUserInfo(Context)?.Email)
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                        <li>
                                            <a asp-area="" asp-controller="Vehicle" asp-action="Index">
                                                <span class="glyphicon" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                                                        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z" />
                                                    </svg>
                                                </span>
                                            <span data-hover="@localizer["ARAÇLAR"]">
                                                @localizer["ARAÇLAR"]
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Violation" asp-action="Index">
                                                <span class="glyphicon" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                                    </svg>
                                                </span>
                                            <span data-hover="@localizer["İHLALLER"]">@localizer["İHLALLER"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Objection" asp-action="Index">
                                                <span class="glyphicon" aria-hidden="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                    </svg>
                                                </span>
                                            <span data-hover="@localizer["İTİRAZLAR"]">@localizer["İTİRAZLAR"]</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a asp-area="" asp-controller="Login" asp-action="Logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>@localizer["ÇIKIŞ YAP"]</a></li>
                        </ul>
                    </div>
            }
            else
            {
                    <div class="w3l_header_right">
                        <ul>
                            <li>
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    &nbsp;<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <li>
                                        <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                            <img src="~/images/en.png" alt=" " class="img-responsive" style="width:25px;height:25px;" />
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="dropdown-item">
                                            <img src="~/images/tr.png" alt=" " class="img-responsive" style="width:25px;height:25px;" />
                                        </a>
                                    </li>
                                    </ul>
                                </div>
                            </li>
                        <li><a asp-area="" asp-controller="Login" asp-action="Index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>@localizer["ÜYE GİRİŞİ"]</a></li>
                        <li><a asp-area="" asp-controller="Signup" asp-action="Index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>@localizer["ÜYE OL"]</a></li>
                        </ul>
                    </div>
            }





            <div class="clearfix"> </div>
            <script type="text/javascript" src="~/js/demo.js"></script>
        </div>
    </div>
    <div class="logo_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo2.png" alt=" " class="img-responsive" style="width:70px;height:70px;" /></a>
                        <h3>
                            <i>@localizer["Plaka Ceza Sistemi"]</i>
                        </h3>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index"><span data-hover="@localizer["ANASAYFA"]">@localizer["ANASAYFA"]</span></a></li>
                            <li><a asp-area="" asp-controller="About" asp-action="Index"><span data-hover="@localizer["HAKKIMIZDA"]">@localizer["HAKKIMIZDA"]</span></a></li>
                            <li><a asp-area="" asp-controller="Contact" asp-action="Index"><span data-hover="@localizer["İLETİŞİM"]">@localizer["İLETİŞİM"]</span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <!-- //header -->
    <div class="container">
        <main role="main" class="pb-3" style="padding-bottom:5rem;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="agileinfo_copy_right_left">
                <p>&copy; 2023 - @localizer["Plaka Ceza Sistemi"],&nbsp; @localizer["Her Hakkı Saklıdır"]. &nbsp;&nbsp;<a asp-area="" asp-controller="Home" asp-action="Privacy">@localizer["Gizlilik Sözleşmesi"]</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </footer>
    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
