@using LicensePlateCrimeWebApp.Data;
@using LicensePlateCrimeWebApp.Interfaces;
@model IEnumerable<Contact>

@inject FirebaseAppProvider firebaseAppProvider;
@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- MAIN CONTENT-->
<div class="container-fluid">
    <div class="row">
        @foreach (var contact in Model)
        {
            <div class="col-md-4">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-dark">
                            <div class="media">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="https://icons.iconarchive.com/icons/icons8/windows-8/96/Users-Administrator-2-icon.png">
                                <div class="media-body">
                                    <h6 style="max-width:200px;" class="text-light display-6">@contact.Email</h6>
                                    <p style="max-width:200px;"> @contact.Name</p>
                                </div>
                            </div>
                        </div>


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="max-width:200px;">
                                <i class="fa fa-list-ul"> Konu:</i> @contact.Subject
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-phone"> Telefon:</i> @contact.Telephone
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-file-text"> Mesaj:</i> @contact.Message
                            </li>
                            <li class="list-group-item">
                                <div class="table-data-feature">
                                    <a href="mailto:@contact.Email" class="item" title="Yanıtla">
                                        <i class="zmdi zmdi-mail-send"></i>
                                    </a>
                                    <form method="post" asp-controller="Admin" asp-action="DeleteContact">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@contact.Id" />
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Sil">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>

                    </section>
                </aside>
            </div>
        }
    </div>
</div>

