@using LicensePlateCrimeWebApp.Data;
@using LicensePlateCrimeWebApp.Interfaces;
@model IEnumerable<Contact>

@inject FirebaseAppProvider firebaseAppProvider;
@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">İLETİŞİM MESAJLARI</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>E-MAİL</th>
                        <th>AD SOYAD</th>
                        <th>KONU</th>
                        <th>TELEFON</th>
                        <th>MESAJ</th>
                        <th style="text-align:center">İŞLEMLER</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model)
                    {
                        <tr class="tr-shadow">
                            <td>
                                <span class="block-email">@contact.Email</span>
                            </td>
                            <td>@contact.Name</td>
                            <td>@contact.Subject</td>
                            <td>@contact.Telephone</td>
                            <td>@contact.Message</td>
                            <td>
                                <div class="table-data-feature">

                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Yanıtla">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </button>
                                    
                                    <form method="post" asp-controller="Admin" asp-action="DeleteContact">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@contact.Id" />
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Sil">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>