@using FirebaseAdmin.Auth;
@using static LicensePlateCrimeWebApp.Helpers.GlobalHelpers;
@model IAsyncEnumerator<ExportedUserRecord>
@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var dateFormat = "dd/MM/yyyy";
    var dateTimeFormat = "dd/MM/yyyy - HH:mm";
}

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger" role="alert">
        <strong>Hata</strong> @ViewBag.Message
    </div>
}

<!-- USER DATA-->
<div class="user-data m-b-30">
    <h3 class="title-3 m-b-30">
        <i class="zmdi zmdi-account-calendar"></i>Kullanıcılar
    </h3>

    <div class="table-responsive table-data">
        <table class="table">
            <thead>
                <tr>
                    <td>E-MAİL</td>
                    <td>ROL</td>
                    <td>KAYIT TARİHİ</td>
                    <td>SON GİRİŞ TARİHİ</td>
                    <td>İŞLEMLER</td>
                </tr>
            </thead>
            <tbody>
                @while (await Model.MoveNextAsync())
                {
                    ExportedUserRecord user = Model.Current;
                    var isAdmin = await GetAdminStatusAsync(user.Uid);
                    <tr>
                        <td>
                            <div class="table-data__info">
                                <i>@user.Email</i>
                            </div>
                        </td>
                        <td>
                            @if (isAdmin)
                            {
                                <span class="role admin">admin</span>
                            }
                            else
                            {
                                <span class="role user">user</span>
                            }
                        </td>
                        <td>@user.UserMetaData.CreationTimestamp?.ToLocalTime().ToString(dateTimeFormat) </td>
                        <td>@user.UserMetaData.LastSignInTimestamp?.ToLocalTime().ToString(dateTimeFormat)</td>
                        <td>
                            @if (GetCurrentUserInfo(Context)?.Uid != user.Uid)
                            {
                                <div class="table-data-feature">
                                    <form method="post" asp-controller="Admin" asp-action="DeleteUser">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@user.Uid" />
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Sil">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </form>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END USER DATA-->
