@using LicensePlateCrimeWebApp.Data;
@using LicensePlateCrimeWebApp.Interfaces;
@model IEnumerable<Vehicle>

@inject FirebaseAppProvider firebaseAppProvider;

@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var dateFormat = "dd/MM/yyyy";
    var dateTimeFormat = "dd/MM/yyyy - HH:mm";
}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">ARAÇLAR</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">

            </div>
            <div class="table-data__tool-right">
                <a asp-controller="Admin" asp-action="AddVehicle" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>Araç Ekle
                </a>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>E-MAİL</th>
                        <th>MODEL</th>
                        <th>PLAKA</th>
                        <th>KAYIT TARİHİ</th>
                        <th>GÜNCELLEME TARİHİ</th>
                        <th style="text-align:center">İŞLEMLER</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Model.OrderByDescending(v=> v.CreationDate))
                    {
                        var owner = await firebaseAppProvider.FirebaseAdminAuth.GetUserAsync(vehicle.OwnerId);

                        <tr class="tr-shadow">
                            <td>@owner.Email</td>
                            
                            <td>@vehicle.Model</td>
                            <td>@vehicle.LicensePlate</td>
                            <td>@vehicle.CreationDateLocalStr</td>
                            <td>@vehicle.LastUpdateDateLocalStr</td>
                            <td>
                                <div class="table-data-feature">
									<a asp-controller="Admin" asp-action="UpdateVehicle" asp-route-id="@vehicle.Id">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Güncelle">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                    </a>
                                    <form method="post" asp-controller="Admin" asp-action="DeleteVehicle">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@vehicle.Id" />
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Sil">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                    
                    
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>