@using LicensePlateCrimeWebApp.Data;
@using LicensePlateCrimeWebApp.Interfaces;

@inject IViolationRepository _violationRepository
@model IEnumerable<Violation>
@inject FirebaseAppProvider firebaseAppProvider;

@{
    ViewData["Title"] = "Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">İHLALLER</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
            </div>
            <div class="table-data__tool-right">
                <a asp-controller="Admin" asp-action="AddViolation" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>İhlal Ekle
                </a>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th style="width:10%">MODEL</th>
                        <th style="width:10%">PLAKA</th>
                        <th style="width:20%">İHLAL TİPİ</th>
                        <th style="width:25%">AÇIKLAMA</th>
                        <th style="width:12%">KAYIT TARİHİ</th>
                        <th style="width:12%">GÜNCELLEME TARİHİ</th>
                        <th style="text-align:center; width:9%">İŞLEMLER</th>
                    </tr>
                </thead>
                <tbody>
                    
                        @foreach (var violation in Model)
                        {
                            var vehicle = await _violationRepository.GetVehicleByIdAsync(violation.VehicleId);
                          
                            <tr class="tr-shadow">
                            <td>@vehicle.Model</td>
                            <td>@vehicle.LicensePlate</td>
                            <td>@violation.Description</td>
                            <td>@violation.Message</td>
                            <td>@violation.CreationDateLocalStr</td>
                            <td>@violation.LastUpdateDateLocalStr</td>
                            <td>
                                <div class="table-data-feature">
                                    <a asp-controller="Admin" asp-action="UpdateViolation">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Güncelle">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button></a>
                                    <form method="post" asp-controller="Admin" asp-action="DeleteViolation">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@violation.Id" />
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Sil">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                    </form>
                                </div>
                            </td>
                            
                            </tr>
                        }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
