@using LicensePlateCrimeWebApp.Interfaces;
@model IEnumerable<Violation>
@inject IViolationRepository _violationRepository;
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    var title = @localizer["İhlallerim"];
    ViewData["Title"] = title;
}
<!-- special-services -->
<div class="special-services">
    <div class="container">
        <h3>@localizer["İhlallerim"]</h3>
        <p class="quia">@localizer["on your vehicles"]</p>
        <div class="row">
            <div class="col-md-9"></div>

            <div class="wthree_special_services">

                @if (Model.Count() == 0)
                {
                    <h1>@localizer["No violations found"]</h1>
                }
                else
                {
                    @foreach (var violation in Model.OrderByDescending(v => v.CreationDate))
                    {
                        var vehicle = await _violationRepository.GetVehicleByIdAsync(violation.VehicleId);
                        <div class="col-md-4 wthree_special_service_left form-group">
                            <a asp-controller="Violation" asp-action="Detail" asp-route-id="@violation.Id">
                                <img src="~/images/violation_graphic.png" alt=" " class="" />
                                <h4>@violation.Description (@vehicle.Model - @vehicle.LicensePlate)</h4>
                            </a>

                            <div style="text-align:center;" class="wthree_more">
                                <a asp-controller="Violation" id="violation-view-button" asp-action="Detail" asp-route-id="@violation.Id" class="button--wayra button--border-thick button--text-upper button--size-s">
                                    <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                                    @localizer["Details"]
                                </a>
                            </div>
                        </div>
                    }
                }
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //special-services -->

    <style>
        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
        }

    </style>
